---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="agritech" class="pb-20">
    <Container>
                <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                BAYKATBI, L'APPLICATION WEB ACCESSIBLE EN "HORS LIGNE"
            </Title>
            <Paragraph>
                Digitalisation de la chaîne de valeur
            </Paragraph>
        </div>
        <img class="mx-auto mt-5 rounded-2xl" alt="agritech" width="1000" height="400" src="/images/app.png" loading="lazy" decoding="async">
        
        </div>
    </Container>
</section>
