---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { agritech } from "../../utils/data.ts";


type AgritechProps = {
    title: string;
    description: string;
    icon: string;
};


---

<section id="Agritech-service">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Dans BAYKATBI, nous avons:
            </Title>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
                {
                    agritech.map((agri: AgritechProps) => {
                    return (
                            <Service title={agri.title} description={agri.description} icon={agri.icon}>
                            </Service>
                            );
                    })
                }
        </div>
    </Container>
</section>