---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Contact from '../components/sections/Contact.astro';
import Agritech from '../components/sections/Agritech.astro';
import ServicesAgritech from '../components/sections/Services_agritech.astro';
---

<Layout title="Baykat & Business">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Services/>
		<AboutUs/>	
		<Agritech/>
		<ServicesAgritech/>
		<Contact/>
		
	</main>
</Layout>