---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Contact from "../components/sections/Contact.astro";
import Agritech from "../components/sections/Agritech.astro";
import { services, agritech } from "../utils/data.ts";
import CTA1 from "../components/sections/CTA1.astro";
import CTA2 from "../components/sections/CTA2.astro";
import Title from "../components/shared/Title.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Container from "../components/shared/Container.astro";
import FixedButton from "../components/shared/FixedButton.astro";
import Chatbot from "../components/shared/Chatbot.astro";
---

<Layout title="Baykat & Business">
  <main class="flex flex-col gap-y-20 overflow-hidden">
    <Hero />
    <Services
      serviceLink="https://docs.google.com/forms/d/e/1FAIpQLSd32pkGKv4NQ-HSKi0jU4gQM42AsMNCrT3tJXBV612nxrCzvA/viewform"
      titreSection={"Nos Services"}
      descSection={"Besoin en assistance technique,  en conseil, travaux agricoles? Dites nous tous pour une prise en charge personnalisée et, si nécessaire, une évaluation des coûts relatifs au futur service rendu."}
      items={services}
    />
    <Container className="space-y-10 md:0">
      <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title> Formations et Partenariats </Title>
        <Paragraph>
          Découvrez les bases de l'agrobusiness avec une formation immersive
          <br />
          ou
          <br />
          Collaborez avec nous pour maximiser votre investissement agricole et optimiser
          les chaînes de valeur
        </Paragraph>
      </div>
    </Container>
    <CTA2 />
    <CTA1 />
    <AboutUs />
    <Agritech />
    <Services
      titreSection={"Dans BAYKATBI, nous avons:"}
      descSection={""}
      items={agritech}
    />
    <Contact />
    <FixedButton
      href="https://docs.google.com/forms/d/e/1FAIpQLScXpShDSqfxSq7d7NTEHJt0Y9y611uJEBPgrpWP0tLT02OiZQ/viewform"
      text="S'inscrire a nos formations"
      variant="secondary"
    />
  </main>
  <Chatbot>
</Layout>
